@font-face {
  font-family: "Nandaka Western";
  src: url(gomarice_nandaka_western-webfont.woff2) format("woff2"),
    url(gomarice_nandaka_western-webfont.woff) format("woff");
}

@font-face {
  font-family: "Barbaro";
  src: url(barbaro-webfont.woff2) format("woff2"),
    url(barbaro-webfont.woff) format("woff");
}

/* Hide horizontal scrollbar for WebKit-based browsers */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  width: 0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

h1,
h2,
h3 {
  font-family: "Nandaka Western", sans-serif;
  color: #e09740;
}

p {
  font-family: "Barbaro", sans-serif;
  font-size: 0.8em;
  font-weight: 100;
  color: white;
  line-height: 150%;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.8em;
}

a {
  color: white;
}

.page-wrapper::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('images/whitenoise.jpg'); */
  opacity: 0.3;
}

.page-wrapper {
  margin-top: -15px;
  position: relative;
  z-index: 1;
}

footer {
  position: absolute;
  bottom: -50px;
  width: 100%;
}

#zen-intro h2 {
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 180px;
  margin-bottom: 30px;
  font-size: 3em;
}

h2 abbr {
  border: none;
  text-decoration: none;
}

.intro {
  background-color: #404145;
  background-image: url(images/zon.svg);
  background-repeat: no-repeat;
  background-size: 75px 75px;
  background-position: calc(100% - 40px) 20px;
}

.intro header h1 {
  font-size: 1.2em;
  padding-top: 12px;
  padding-left: 12px;
}

.intro header h2 {
  display: inline-block;
  text-align: center;
}

.summary {
  text-align: center;
  padding-bottom: 160px;
  background-image: url(images/cactussen.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 42px;
  background-position: center bottom;
}

.summary p {
  margin: 12px 12px;
}

.preamble {
  background-color: #915348;
  padding: 20px;
}

.preamble p {
  max-width: 80%;
}

.preamble h3 {
  max-width: 80%;
}

.explanation {
  background-color: #915348;
  padding: 20px;
  padding-top: 20px;
}

.explanation p {
  padding-bottom: 40px;
}

.explanation h3::after, .participation h3::after {
  content: "";
  display: inline-block;
  width: 70px; /* adjust the width of the image as needed */
  height: 70px; /* adjust the height of the image as needed */
  background-image: url(images/requirementsHat.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%; /* move the visible portion of the image to the center of the element */
  vertical-align: middle;
  position: relative;
  right: 40px;
  bottom: 15px;
}

.participation {
  background-color: #404145;
  padding: 20px;
}

.benefits {
  background-color: #404145;
  padding: 20px;
  padding-bottom: 30px;
}

.extra1 {
  background-color: transparent;
  position: absolute;
  background-image: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 360px;
  height: 800px;
  top: 800px;
  right: 0;
  z-index: 50;
}

.benefits p::after {
  content: "";
  background-image: url(images/tumbleweed.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80px;
  height: 80px;
  position: relative;
  top: 55px;
  right: 20px;
  z-index: 50;
  display: block; /* Ensure the pseudo-element takes up space */
  animation: roll 4s linear infinite;
}

@keyframes roll {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(25vw) translateY(-30px) rotate(60deg);
  }
  50% {
    transform: translateX(50vw) translateY(0) rotate(120deg);
  }
  75% {
    transform: translateX(75vw) translateY(-30px) rotate(180deg);
  }
  100% {
    transform: translateX(100vw) rotate(240deg);
  }
}

@media only screen and (min-width: 558px) {
  p {
    font-size: 1em;
  }

  #zen-intro h2 {
    width: 65%;
  }
}

@media only screen and (min-width: 682px) {
  .summary {
    padding-bottom: 220px;
  }

  .intro {
    background-size: 90px 90px;
    background-position: calc(100% - 40px) 20px;
  }

  .explanation p {
    max-width: 65%;
  }

  .extra1 {
    background-image: url(images/gitaar.svg);
  }

  .benefits p::after {
    animation: roll 6s linear infinite;
  }
}

@media only screen and (min-width: 880px) {
  h1 {
    font-size: 3.5em;
  }
  h3 {
    font-size: 2.35em;
  }

  p {
    font-size: 1.2em;
    max-width: 80%;
  }

  .summary {
    padding-bottom: 290px;
    background-size: 85%;
  }

  .preamble, .explanation, .participation, .benefits {
    padding-left: 15%;
  }

  .extra1 {
    top: 725px;
  }

  .benefits p::after {
    width: 100px;
    height: 100px;
    right: 25%;
    top: 60px;
    animation: roll 8s linear infinite;
  }
}
